/* ========================= */
/* my unreset */
/* ========================= */
li, ul, h2, p, .tags{
	font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
	font-size: 1.0em;
}
p, .sections li{
	font-size: 1.0em;
	line-height: 1.5em;
	color: #736E6A;
}
p img {
	float: right;
	width: 11%;
	margin: .5%;
}

body {
	background-color: #8C8681;
}




.primary-container {
	max-width: 940px;
	/*background-color: #FCFCFC;*/
	background: #FCFCFC url("../img/crossword.png") 0 0 repeat;
	margin: 6% auto;
	-webkit-box-shadow: 0px 0px 20px 0px #000;
	   -moz-box-shadow: 0px 0px 20px 0px #000;
            box-shadow: 0px 0px 20px 0px #000;
	/*height: 1000px;*/
	padding-bottom: 1%;
}

/* ========================= */
/* persistent header */
/* ========================= */
.floatingHeader {
	position: fixed;
	top: 0;
	visibility: hidden;
}

/* ========================= */
/* main nav */
/* ========================= */
.main-nav{
	background: #FCFCFC url("../img/crossword.png") 0 0 repeat;
	color: #B9121B;
	text-align: center;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #D9D1C7;
}
.main-nav li {
	margin: 2% 2%;
	display: inline-block;
	text-transform: capitalize;
}
.main-nav li:first-child: {
	margin-left: 0;
}
.main-nav li:last-child: {
	margin-right: 0;
}

@media all and   (max-width: 600px) {
	.main-nav li {
		display: block;
		margin: 1% auto;
	}
	.main-nav li:first-child {
		display: block;
		padding-top: 3%;
	}
}

/* ========================= */
/* main logo */
/* ========================= */
.main-logo {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid #D9D1C7;
}
.main-logo h1{
	color: #2F3540;
	font-size: 3em;
	font-family: 'Paytone One', sans-serif;
	margin: 0 auto 20px auto;
}
.main-logo h2{
	color: #8C8681;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	margin: 0 auto 30px auto;
}
.main-logo li {
	width: 5%;
	display: inline-block;
	margin: 0;
	margin: 0 2%;
}
.main-logo li:first-child: {
	margin-left: 0;
}
.main-logo li:last-child: {
	margin-right: 0;
}
.main-logo img {
	width: 100%;
}

@media all and   (max-width: 600px) {
	.main-logo h1 {
		font-size: 1.5em;
	}
	.main-logo h2 {
		font-size: 0.9em;
	}
	.main-logo li {
		width: 10%;
	}
}

/* ========================= */
/* sections */
/* ========================= */
.sections {
	margin: 50px 30px;
}
.sections li{
	font-size: 1.0em;
	line-height: 1.2em;
	color: #736E6A;
	margin-bottom: 0.5em;
}
.sections ul {
    list-style: none;
    padding:0;
    margin:0;
}
.sections .first > li{
	background: url("../img/circle.png") 0 50% no-repeat;
	background-size: 2%;
	padding-left: 6%;
}
.sections .second > li{
	background: url("../img/circle2.png") 6% 50% no-repeat;
	background-size: 2%;
	padding-left: 12%;
}



.col-1-3, .col-2-3, .col-1-2 , .col-1-3-sub, .col-2-3-sub, .col-1-2-sub {
	float: left;
}
.col-2-3 {
  width: 80%;
  padding-left: 3%;
  border-left: 6px solid #D9D1C7;
}
.col-1-3 {
	width: 20%;
}
.col-1-2, .col-1-2-sub {
	width: 50%;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}
.nav-section h1 {
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 1.5em;
	color: #B9121B;
}

.col-1-3-sub {
	width: 20%;
}
.col-2-3-sub, .col-1-2-sub {
	padding-left: 3%;
	padding-bottom: 3%;
}
.col-2-3-sub {
	width: 80%;
}
.col-2-3-sub:last-child, .col-1-2-sub:last-child {
	padding-bottom: 0;
}
.about-me img{
	width: 100%;
}
.stamp {
	padding: 0 0;
	text-align: center;
	font-size: 0.7em;
	height: 1.8em;
	line-height: 1.8em;
	background-color: #666A73;
	color: #FCFCFC;
	font-family: Arial;
}

.sub-section-headers h1 {
	font-size: 1.6em;
	color: #474747;
	margin-bottom: 1%;
}
.sub-section-headers h2 {
	font-size: 1.2em;
	color: #B9121B;
	margin-bottom: 1%;
}
.sub-section-headers .collaborators {
	font-size: 0.9em;
	color: #B9121B;
	margin-bottom: 1%;
}

@media all and   (max-width: 700px) {
	p, .sections li, td {
		font-size: .9em;
	}
	.sections {
		margin: 20px 20px;
	}
	.col-1-3, .col-2-3, .col-1-2, .col-1-3-sub, .col-2-3-sub, .col-1-2-sub {
		float: none;
		width: auto;
	}
	.col-2-3 {
		margin-top: 1%;
		padding-top: 2%;
		border-left: none;
		border-top: 2px solid #D9D1C7;
	}
	.sections .col-1-3, .about-me .col-1-3-sub, .sub-section-headers h1, .sub-section-headers h2, .sub-section-headers .collaborators{
		text-align: center;
	}
	.about-me img{
		width: 60%;
	}
	.sub-section-headers h1{
		font-size: 1.2em;
	}
	.sub-section-headers h2 {
		font-size: 1.0em;
	}
	p img {
		display: none;
	}
}

/* ========================= */
/* Skills table styling */
/* ========================= */
table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
	line-height: 1.2em;
}
th, td {
	padding-bottom: 2%;
	vertical-align: top;
}
th {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #D9D1C7;
}
td {
	width: 50%;
	padding: 2% 1% 1% 1%;
}
thead {
	line-height: 1.5em;
}
thead th {
	color: #474747;
	font-size: 1.2em;
}

tbody {
	color: #736E6A;
}
tbody .skill {
	width: 20%;
}

/* ========================= */
/* projects
/* ========================= */
.projects-icons ul {
	text-align: center;
}
.projects-icons li {
	width: 5%;
	display: inline-block;
	margin: 0;
	margin: 1% 2%;
}
.projects-icons li:first-child: {
	margin-left: 0;
}
.projects-icons li:last-child: {
	margin-right: 0;
}
.projects-icons img {
	width: 100%;
}
.project {
	border-bottom: 2px solid #D9D1C7;
	margin-top: 1%
}
.project:last-child {
	border: none;
}
@media all and   (max-width: 700px) {
	.projects-icons li{
		width: 8%;
	}
}
tbody .tags {
	width: 3%;
	color: #736E6A;
	font-weight: bold;
	vertical-align: middle;
}
.tags-list li{
	display: inline-block;
	border: 1px solid #B9121B;
	padding: 2px;
	border-radius: 2px;
	margin: .5%;
}


